<%- include('header.ejs') %>
<%- include('menu.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 buy-img">
            <img src="<%= product.pictureLink%>" alt="Book picture">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 buy-information">
            <h1><%= product.name %></h1>
            <h2><%= product.title %></h2>
            <h3><%= product.author %></h3>
            <p>Contact : <%= seller.email %></p>
            <p>Price = <%= product.price %>€</p>
            <p>Delivery = <%= delivery %>€</p>
           
            <form action="/buyBook" method="POST" id="buyForm">
                <input type="hidden" name="userMangopayId" id="userMangopayId" value="<%= user.mangoPayId%>">
                <input type="hidden" name="sellerMangopayId" id="sellerMangopayId" value="<%= seller.mangoPayId%>">
                <input type="hidden" name="price" id="price" value="<%= product.price%>">
                <input type="hidden" name="delivery" id="delivery" value="<%= delivery%>">
                <button>Buy socket</button>    
            </form>
        </div>
    </div>

</div>

<%- include('footer.ejs') %>